.venv/
__pycache__/
*.pyc
.env
output/
logs/
parser.log
*.log
*.Zone.Identifier
*.xlsx
*.har
dist/
build/
*.spec
.ruff_cache/
chrome_cdp_session/
.chrome_cdp_session/
.chrome_cdp_profile/
лемана.json
